@page "/"
@using SmartComponents

<form>
    <p>名前: <InputText @bind-Value="@name" /></p>
    <p>住所: <InputText @bind-Value="@addr1" /></p>
    <p>郵便番号: <InputText @bind-Value="@zip" /></p>

    <button type="submit">送信</button>
    <SmartPasteButton DefaultIcon />
</form>
<br />
<pre>
    この荷物は下記住所に郵送をお願いします。
    草場友光
    151-0002
    東京都渋谷区渋谷2-15-1　渋谷クロスタワー21F
    以上、よろしくお願いします。

</pre>

@code {
    string? name, addr1, city, zip;
}